<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Items page">
        <title>Items</title>
    </head>
    <body>
        <h1>Items</h1>
        <ul>
            {{range .items}}
                <li class="id">ID: {{.ID}}</li>
                <li class="name">Name: {{.Name}}</li>
                <li class="description">Description: {{.Description}}</li>
                <li class="original_price">Original Price: {{.item.OriginalPrice}}</li>
                <li class="discount_price">Discount Price: {{.item.DiscountPrice}}</li>
                <li class="articul">Articul: {{.item.Articul}}</li>
                <li class="categoty">Category: {{.item.Category}}</li>
            {{end}}
        </ul>
    </body>
</html>