<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Item page">
        <title>Item</title>
    </head>
    <body>
        <h1>Item</h1>
        <ul>
            <li class="id">ID: {{.item.ID}}</li>
            <li class="name">Name: {{.item.Name}}</li>
            <li class="description">Description: {{.item.Description}}</li>
            <li class="original_price">Original Price: {{.item.OriginalPrice}}</li>
            <li class="discount_price">Discount Price: {{.item.DiscountPrice}}</li>
            <li class="articul">Articul: {{.item.Articul}}</li>
            <li class="categoty">Category: {{.item.Category}}</li>
        </ul>
    </body>
</html>
